# База данных

In [1]:
import pandas as pd
import numpy as np
import sqlite3

# игнорирование предупреждения о формате при импорте из excel
import warnings

warnings.simplefilter("ignore")

%load_ext lab_black

In [2]:
# создание базы данных (подключение к базе данных)
conn = sqlite3.connect(r"/home/sk27/work/med/db/visits.db")
# создание курсора
cur = conn.cursor()

In [3]:
# собственно работа с базой данных
# cur.execute("ВАШ-SQL-ЗАПРОС-ЗДЕСЬ;")

In [4]:
# загрузка справочников
f_032 = pd.read_excel("/home/sk27/work/med/data/F032.xlsx")
v_021 = pd.read_excel("/home/sk27/work/med/data/V021.xlsx")
v_002 = pd.read_excel("/home/sk27/work/med/data/V002.xlsx")
v_006 = pd.read_excel("/home/sk27/work/med/data/V006.xlsx")
v_025 = pd.read_excel("/home/sk27/work/med/data/V025.xlsx")
oid_data = pd.read_excel("/home/sk27/work/med/data/oid_data.xlsx")

In [29]:
mkb_10 = pd.read_excel("/home/sk27/work/med/data/mkb10.xlsx")

In [5]:
reestr_do = pd.read_excel("/home/sk27/work/med/data/reestr_do.xlsx")

In [6]:
reestr_do

,mo_oid,depart_oid,depart_create_date,depart_modify_date,depart_liquidation_date,depart_name,depart_type_id,depart_type_name,depart_kind_id,depart_kind_name,...,building_address_aoid_street,building_address_houseid,building_address_prefix_area,building_address_area_name,building_address_prefix_street,building_address_street_name,building_address_house,building_address_building,building_address_struct,building_address_fias_version
0,OID медицинской организации,OID структурного подразделения,Дата создания записи о структурном подразделении,Дата изменения записи о структурном подразделении,Дата ликвидации структурного подразделения,Наименование структурного подразделения,Идентификатор типа структурного подразделения,Тип структурного подразделения,Идентификатор вида структурного подразделения,Вид структурного подразделения,...,Идентификатор улицы,Идентификатор дома,Префикс населенного пункта,Наименование населенного пункта,Префикс улицы,Наименование улицы,Номер дома,Номер строения,Номер корпуса,Версия ФИАС
1,1.2.643.5.1.13.13.12.2.10.10195,1.2.643.5.1.13.13.12.2.10.10195.0.250355,2018-04-16T13:02:17.425+0300,2023-03-13T18:29:39.571+0300,NaN,Лечебно-диагностическое отделение,1,Амбулаторный,1118,Офтальмологические,...,d1ae3b16-e243-401c-9bc3-e3cfd965211b,8260d8e1-7c77-4b7e-a6c7-a3898ed6621f,г,Петрозаводск,наб,Варкауса,1Б,NaN,NaN,434
2,1.2.643.5.1.13.13.12.2.10.10195,1.2.643.5.1.13.13.12.2.10.10195.0.250372,2018-04-16T15:58:32.072+0300,2023-03-13T18:29:39.571+0300,NaN,Стационарное,2,Стационарный,1118,Офтальмологические,...,d1ae3b16-e243-401c-9bc3-e3cfd965211b,8260d8e1-7c77-4b7e-a6c7-a3898ed6621f,г,Петрозаводск,наб,Варкауса,1Б,NaN,NaN,434
3,1.2.643.5.1.13.13.12.2.10.10201,1.2.643.5.1.13.13.12.2.10.10201.0.209440,2017-10-10T09:50:15.583+0300,2023-03-13T18:29:39.571+0300,NaN,ООО Ме-Лидер г Медвежьегорск,1,Амбулаторный,1152,Стоматологические (включая передвижные),...,d4198694-1a34-4a6c-8824-43c19031f39f,NaN,г,Медвежьегорск,ул,Советская,NaN,NaN,NaN,392
4,1.2.643.5.1.13.13.12.2.10.10201,1.2.643.5.1.13.13.12.2.10.10201.0.209440,2017-10-10T09:50:15.583+0300,2023-03-13T18:29:39.571+0300,NaN,ООО Ме-Лидер г Медвежьегорск,1,Амбулаторный,1152,Стоматологические (включая передвижные),...,d4198694-1a34-4a6c-8824-43c19031f39f,NaN,г,Медвежьегорск,ул,Советская,NaN,NaN,NaN,392
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539336,1.2.643.5.1.13.13.12.2.99.9204,1.2.643.5.1.13.13.12.2.99.9204.0.345451,2019-11-04T08:49:15.707+0300,2023-03-13T18:29:39.571+0300,NaN,Неврологическое отделение больницы № 1,2,Стационарный,1082,Неврологические,...,58470b32-cbcb-4816-889f-7a5c9c530f54,8d79f7ef-c648-4a85-b27d-80c2c5137627,NaN,NaN,ул,Авиационная,11,NaN,NaN,337
539337,1.2.643.5.1.13.13.12.2.99.9204,1.2.643.5.1.13.13.12.2.99.9204.0.345452,2019-11-04T08:50:42.142+0300,2023-03-13T18:29:39.571+0300,NaN,Инфекционное отделение больницы № 1,2,Стационарный,1032,Инфекционные для взрослых,...,58470b32-cbcb-4816-889f-7a5c9c530f54,8d79f7ef-c648-4a85-b27d-80c2c5137627,NaN,NaN,ул,Авиационная,11,NaN,NaN,337
539338,1.2.643.5.1.13.13.12.2.99.9204,1.2.643.5.1.13.13.12.2.99.9204.0.345459,2019-11-04T09:24:20.536+0300,2023-03-13T18:29:39.571+0300,NaN,Педиатрическое отделение больницы № 1,2,Стационарный,1198,Прочие,...,58470b32-cbcb-4816-889f-7a5c9c530f54,8d79f7ef-c648-4a85-b27d-80c2c5137627,NaN,NaN,ул,Авиационная,11,NaN,NaN,337
539339,1.2.643.5.1.13.13.12.2.99.9204,1.2.643.5.1.13.13.12.2.99.9204.0.345476,2019-11-04T09:50:45.809+0300,2023-03-13T18:29:39.571+0300,NaN,Дневной стационар больницы № 1,2,Стационарный,1025,Дневные стационары для взрослых,...,58470b32-cbcb-4816-889f-7a5c9c530f54,8d79f7ef-c648-4a85-b27d-80c2c5137627,NaN,NaN,ул,Авиационная,11,NaN,NaN,337
539340,1.2.643.5.1.13.13.12.2.99.9204,1.2.643.5.1.13.13.12.2.99.9204.0.347393,2019-11-06T11:39:11.913+0300,2023-03-13T18:29:39.571+0300,NaN,Дневной стационар здравпункта третьего уровня,2,Стационарный,1025,Дневные стационары для взрослых,...,a8cd312e-5e79-4c37-938d-26813a794d0d,8d79f7ef-c648-4a85-b27d-80c2c5137627,NaN,NaN,ул,Набережная,11,NaN,NaN,521

In [33]:
v_021.columns

Index(['IDSPEC', 'SPECNAME', 'POSTNAME', 'IDPOST_MZ', 'DATEBEG', 'DATEEND'], dtype='object')

In [19]:
v_021.to_sql("V021", conn, if_exists="append", index=False)

In [16]:
f_032.to_sql("F032", conn, if_exists="append", index=False)

In [15]:
v_002.to_sql("V002", conn, if_exists="append", index=False)

In [18]:
v_006.to_sql("V006", conn, if_exists="append", index=False)

In [21]:
v_025.to_sql("V025", conn, if_exists="append", index=False)

In [23]:
oid_data.to_sql("reestr_mo", conn, if_exists="append", index=False)

In [31]:
mkb_10.to_sql("mkb_10", conn, if_exists="append", index=False)

In [38]:
reestr_do.to_sql("reestr_do", conn, if_exists="append", index=False)

## 1. Подготовка данных

In [18]:
%%time

# вспомогательные функции

def oktmo(o):
    """
    функция дополняет код ОКТМО до 11 символов или до 10 символов без ведущего 0
    """
    if len(str(o)) == 1:
        l = 9
    else:
        l = 11-len(str(o))
    return int(str(o) + "0"*(l))
    
def visit_count(row):
    """
    функция определяет количество посещений согласно условиям
    """
    if row["id_purpose"] >= 3:
        res = row["code_usl"] * row["kol_usl"] * row["size"]
    else:
        res = row["sl_id"] * row["size"]
    if np.isnan(res):
        return "не определено"
    else:
        return res
    
# добавление в файл данных строки заголовков
# старая строка: "year;month;region;clinic;oid;depart;branch;doctor_specialty;doctor_profile;terms;doctor_id;diagnosis;purpose;service_id;usl_service_id;usl_doctor_specialty;usl_clinic;usl_depart;sl_id;code_usl;kol_usl;yet_sum\n"
with open("/home/sk27/work/med/data/source.csv", "r") as f:
    first_line = next(f).strip()
    if first_line[0:4] != "year":
        with open(
            "/home/sk27/work/med/data/source.csv", "r", encoding="ISO-8859-1"
        ) as original:
            data = original.read()
        with open("/home/sk27/work/med/data/source.csv", "w") as modified:
            modified.write(
                "year;month;region;oid_mo_frmo;oid_mo_oms;oid_division;oid_office;id_doctor_specialty;id_doctor_profile;id_terms;id_doctor;id_diagnosis;id_purpose;id_service;id_service_local;id_service_provider;id_mo_oms_service;oid_division_service;sl_id;code_usl;kol_usl;yet_sum\n"
                + data
            )
    else:
        pass

# загрузка файла
df_data = pd.read_csv(
    "/home/sk27/work/med/data/source.csv",
    sep=";",
    encoding="ISO-8859-1",
    low_memory=False,
)


# удаление кавычек
for i, col in enumerate(df_data.columns):
    df_data.iloc[:, i] = df_data.iloc[:, i].astype("str").str.replace('"', "")
# df_data = df_data.apply(pd.to_numeric, errors="ignore")

# замена ВСЕХ запятых точками
for i, col in enumerate(df_data.columns):
    df_data.iloc[:, i] = df_data.iloc[:, i].astype("str").str.replace(',', ".")
df_data = df_data.apply(pd.to_numeric, errors="ignore")

# вставка столбца ОКТМО
df_data.insert(3, "oktmo_p", df_data["region"].apply(oktmo))

# проверка загруженных данных

# а) проверка количества столбцов - их должно быть именно 23 вместе с добавленным мной столбцом ОКТМО
if df_data.shape[1] > 23:
    print(f"Количество полей в файле (их {df_data.shape[1]}) не соответствует форме отчёта, должно быть 23.")
else:
    pass

# б) проверка столбца terms на "только 3"
try:
    if df_data["id_terms"].mean() != 3:
        print(
            "Нарушено требование об указании в поле 'Условия оказания медпомощи' только значения '3'."
        )
except:
    print("Не проходит проверка на '3'")

CPU times: user 1.48 s, sys: 71.3 ms, total: 1.55 s
Wall time: 1.55 s

In [19]:
# если в годе есть какя-то хрень
df_data.year = df_data.year.replace(
    "Ã¯Â»Â¿ÃÂ¯ÃÂ»ÃÂ¿ÃÂÃÂ¯ÃÂÃÂ»ÃÂÃÂ¿2022", "2023"
)

In [20]:
df_data

,year,month,region,oktmo_p,oid_mo_frmo,oid_mo_oms,oid_division,oid_office,id_doctor_specialty,id_doctor_profile,...,id_purpose,id_service,id_service_local,id_service_provider,id_mo_oms_service,oid_division_service,sl_id,code_usl,kol_usl,yet_sum
0,2023,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,3.0,B01.020.001,030-646-635 32,35,620077,073_2,1,1,1,0.0
1,2022,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,3.0,B01.023.001,030-646-635 32,35,620077,073_2,1,1,1,0.0
2,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,3.0,B01.010.001,030-646-635 32,35,620077,073_2,1,1,1,0.0
3,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,3.0,B01.020.005,030-646-635 32,35,620077,073_2,1,1,1,0.0
4,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,3.0,B01.023.002,030-646-635 32,35,620077,073_2,1,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51289,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,81,106,...,2.6,A04.12.006.001,031-663-288 38,81,620105,291_2,4,4,1,0.0
51290,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,81,106,...,2.6,A04.12.006.002,031-663-288 38,81,620105,291_2,26,26,1,0.0
51291,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,2.6,A03.16.001,068-363-489 00,93,620105,291_2,9,9,1,0.0
51292,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,2.6,A03.18.001.001,068-363-489 00,93,620105,291_2,11,11,1,0.0
51293,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,2.6,A03.16.001,068-363-489 00,93,620105,291_2,1,1,1,0.0

In [21]:
# заменим все экселевско-csvшные nan на ортодоксальный пандосовский NaN
df_data = df_data.replace("nan", np.NaN)

## 2. Определяем количество посещений

In [22]:
%%time

s2 = df_data.drop_duplicates().shape[0]

# подчёт, сколько раз строка повторяется в наборе
# при этом набор данных "свёртывается", каждая срока повторяется только один раз, но в столбце size отображается количество повторов
df_data = df_data.groupby(df_data.columns.tolist(), as_index=False).size()
print(
    f"Количество уникальных строк в исходном наборе данных: {s2}, количество строк после 'свёртывания' набора: {df_data.shape[0]}"
)

# определение количества посещений
df_data["visit_count"] = df_data.apply(visit_count, axis=1)

Количество уникальных строк в исходном наборе данных: 51294, количество строк после 'свёртывания' набора: 36663
CPU times: user 784 ms, sys: 3.9 ms, total: 788 ms
Wall time: 785 ms

In [23]:
df_data

,year,month,region,oktmo_p,oid_mo_frmo,oid_mo_oms,oid_division,oid_office,id_doctor_specialty,id_doctor_profile,...,id_service_local,id_service_provider,id_mo_oms_service,oid_division_service,sl_id,code_usl,kol_usl,yet_sum,size,visit_count
0,2022,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
1,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
2,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
3,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
4,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36658,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,81,106,...,031-663-288 38,81,620105,291_2,26,26,1,0.0,1,26
36659,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,9,9,1,0.0,1,9
36660,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
36661,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,1,1,1,0.0,1,1
36662,2023,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1

In [24]:
# количество строк в наборе
df_data.shape[0]

36663

In [25]:
# количество посещений
visit_count_sum = int(df_data.visit_count.sum())

In [26]:
# повторим каждую строку столько раз, сколько было посещений
# если всё верно, количество строк должно стать равным количеству посещений
df_data_long = df_data.loc[df_data.index.repeat(df_data.visit_count)].reset_index(
    drop=True
)

In [27]:
df_data_long

,year,month,region,oktmo_p,oid_mo_frmo,oid_mo_oms,oid_division,oid_office,id_doctor_specialty,id_doctor_profile,...,id_service_local,id_service_provider,id_mo_oms_service,oid_division_service,sl_id,code_usl,kol_usl,yet_sum,size,visit_count
0,2022,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
1,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
2,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
3,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
4,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340441,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340442,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340443,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340444,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,1,1,1,0.0,1,1
340445,2023,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1

In [28]:
# проверка
print(f"Количество строк в новом наборе: {df_data_long.shape[0]}")
print(f"Количество посещений: {visit_count_sum}")
if visit_count_sum == df_data_long.shape[0]:
    print("Всё верно!")

Количество строк в новом наборе: 340446
Количество посещений: 340446
Всё верно!

In [29]:
df_data_long.columns

Index(['year', 'month', 'region', 'oktmo_p', 'oid_mo_frmo', 'oid_mo_oms',
       'oid_division', 'oid_office', 'id_doctor_specialty',
       'id_doctor_profile', 'id_terms', 'id_doctor', 'id_diagnosis',
       'id_purpose', 'id_service', 'id_service_local', 'id_service_provider',
       'id_mo_oms_service', 'oid_division_service', 'sl_id', 'code_usl',
       'kol_usl', 'yet_sum', 'size', 'visit_count'],
      dtype='object')

In [30]:
# извлекаем из набора данные для формирования таблицы Расписание и индексируем строки
df_params = (
    df_data_long[
        [
            "oktmo_p",
            "oid_mo_oms",
            "oid_mo_frmo",
            "id_terms",
            "oid_division",
            "oid_office",
            "id_doctor",
            "id_doctor_specialty",
            "id_doctor_profile",
        ]
    ]
    .drop_duplicates()
    .reset_index(drop=True)
    .reset_index()
)

In [31]:
# переименуем столбец index для последующего добавления максимального значения id, существующего в базе
df_params = df_params.rename(columns={"index": "bar"})
df_params

,bar,oktmo_p,oid_mo_oms,oid_mo_frmo,id_terms,oid_division,oid_office,id_doctor,id_doctor_specialty,id_doctor_profile
0,0,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35,158
1,1,61000000000,1.2.643.5.1.13.13.12.2.62.6363,620009,3,023_2,8.0,078-226-204 67,87,158
2,2,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,68,86
3,3,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,71,89
4,4,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,068-756-357 19,71,89
...,...,...,...,...,...,...,...,...,...,...
616,616,61000000000,1.2.643.5.1.13.13.12.2.62.6366,620062,3,117_2,9.0,044-160-518 20,93,123
617,617,61000000000,1.2.643.5.1.13.13.12.2.62.6409,620067,3,124_2,14.0,136-779-061 00,81,106
618,618,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,10.0,063-362-688 66,81,106
619,619,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,12.0,118-512-198 44,79,158
620,620,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,132-580-412 32,48,15

Теперь самое интересное: нужно: а) начать нумерацию с максимального значения уже существующего индекса +1; б) те строки, которые уже существуют, должны сохранить индекс прежним.

In [32]:
# максимальное значение уже существующего в таблице schedule id
n = cur.execute("select max(s.id_schedule) from schedule s;").fetchall()
if pd.DataFrame(n).isnull().values.any():
    n = 0
else:
    n = n[0][0]

In [33]:
n

621

In [34]:
# создание нового столбца index, в котром нуменация продолжается относительно максимального значения, уже существующего в базе
df_params.insert(0, "index", df_params.bar + n + 1)
df_params = df_params.drop(columns="bar")
# сохраним в переменную количество столбцов в таблице df_params
count_columns = len(df_params.columns)

In [35]:
df_params

,index,oktmo_p,oid_mo_oms,oid_mo_frmo,id_terms,oid_division,oid_office,id_doctor,id_doctor_specialty,id_doctor_profile
0,622,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35,158
1,623,61000000000,1.2.643.5.1.13.13.12.2.62.6363,620009,3,023_2,8.0,078-226-204 67,87,158
2,624,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,68,86
3,625,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,71,89
4,626,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,068-756-357 19,71,89
...,...,...,...,...,...,...,...,...,...,...
616,1238,61000000000,1.2.643.5.1.13.13.12.2.62.6366,620062,3,117_2,9.0,044-160-518 20,93,123
617,1239,61000000000,1.2.643.5.1.13.13.12.2.62.6409,620067,3,124_2,14.0,136-779-061 00,81,106
618,1240,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,10.0,063-362-688 66,81,106
619,1241,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,12.0,118-512-198 44,79,158
620,1242,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,132-580-412 32,48,15

In [37]:
# в переменную df_schedule_table выгружаем существующую таблицу из базы
schedule_oktmo = df_params.oktmo_p[0]
query = "select * from schedule s where s.oktmo_p = " + str(schedule_oktmo) + ";"
df_schedule_table = pd.DataFrame(
    cur.execute(query).fetchall(),
    columns=[
        "index",
        "oktmo_p",
        "oid_mo_oms",
        "oid_mo_frmo",
        "id_terms",
        "oid_division",
        "oid_office",
        "id_doctor",
        "id_doctor_specialty",
        "id_doctor_profile",
    ],
)

In [38]:
# это то, что в базе уже есть
df_schedule_table

,index,oktmo_p,oid_mo_oms,oid_mo_frmo,id_terms,oid_division,oid_office,id_doctor,id_doctor_specialty,id_doctor_profile
0,1,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35,158
1,2,61000000000,1.2.643.5.1.13.13.12.2.62.6363,620009,3,023_2,8.0,078-226-204 67,87,158
2,3,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,68,86
3,4,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,71,89
4,5,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,068-756-357 19,71,89
...,...,...,...,...,...,...,...,...,...,...
616,617,61000000000,1.2.643.5.1.13.13.12.2.62.6366,620062,3,117_2,9.0,044-160-518 20,93,123
617,618,61000000000,1.2.643.5.1.13.13.12.2.62.6409,620067,3,124_2,14.0,136-779-061 00,81,106
618,619,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,10.0,063-362-688 66,81,106
619,620,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,12.0,118-512-198 44,79,158
620,621,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,132-580-412 32,48,15

In [40]:
# преобразование типов данных для успешного соединения таблиц
df_params[["oid_division", "oid_office"]] = df_params[
    ["oid_division", "oid_office"]
].astype(object)

In [41]:
# соединение таблиц
df_params = df_params.merge(
    df_schedule_table,
    left_on=[
        "oktmo_p",
        "oid_mo_oms",
        "oid_mo_frmo",
        "id_terms",
        "oid_division",
        "oid_office",
        "id_doctor",
        "id_doctor_specialty",
        "id_doctor_profile",
    ],
    right_on=[
        "oktmo_p",
        "oid_mo_oms",
        "oid_mo_frmo",
        "id_terms",
        "oid_division",
        "oid_office",
        "id_doctor",
        "id_doctor_specialty",
        "id_doctor_profile",
    ],
    how="left",
)

In [42]:
df_params

,index_x,oktmo_p,oid_mo_oms,oid_mo_frmo,id_terms,oid_division,oid_office,id_doctor,id_doctor_specialty,id_doctor_profile,index_y
0,622,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35,158,1
1,623,61000000000,1.2.643.5.1.13.13.12.2.62.6363,620009,3,023_2,8.0,078-226-204 67,87,158,2
2,624,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,68,86,3
3,625,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,71,89,4
4,626,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,068-756-357 19,71,89,5
...,...,...,...,...,...,...,...,...,...,...,...
616,1238,61000000000,1.2.643.5.1.13.13.12.2.62.6366,620062,3,117_2,9.0,044-160-518 20,93,123,617
617,1239,61000000000,1.2.643.5.1.13.13.12.2.62.6409,620067,3,124_2,14.0,136-779-061 00,81,106,618
618,1240,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,10.0,063-362-688 66,81,106,619
619,1241,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,12.0,118-512-198 44,79,158,620
620,1242,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,132-580-412 32,48,15,621

In [43]:
# проверяем, добавились ли в таблицу новые столбцы:
# если имеющиеся в загружаемой таблице строки дублируют уже существующие в базе,
# тогда добавится один столбец - index_y
if len(df_params.columns) > count_columns:
    df_params.insert(
        0,
        "index",
        df_params.apply(
            lambda row: row.index_x if np.isnan(row.index_y) else row.index_y, axis=1
        ),
    )
    df_params.reset_index(drop=True)

In [44]:
df_params.columns

Index(['index', 'index_x', 'oktmo_p', 'oid_mo_oms', 'oid_mo_frmo', 'id_terms',
       'oid_division', 'oid_office', 'id_doctor', 'id_doctor_specialty',
       'id_doctor_profile', 'index_y'],
      dtype='object')

# Сделано до этого места, дальше не сделано!!!

In [439]:
df_params = df_params[
    [
        "index",
        "oktmo",
        "oid",
        "clinic",
        "terms",
        "depart",
        "branch",
        "doctor_id",
        "doctor_specialty",
        "doctor_profile",
    ]
]

In [440]:
# это данные, с которыми нужно работать дальше
df_data_long

,year,month,region,oktmo,clinic,oid,depart,branch,doctor_specialty,doctor_profile,...,usl_service_id,usl_doctor_specialty,usl_clinic,usl_depart,sl_id,code_usl,kol_usl,yet_sum,size,visit_count
0,2022,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
1,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
2,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
3,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
4,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340441,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340442,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340443,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340444,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,1,1,1,0.0,1,1
340445,2023,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1

In [441]:
# это потом!
# df_data_tosql = df_data_long[
#     ["index", "oktmo", "oid", "clinic", "terms", "depart", "branch", "doctor_id"]
# ]

In [442]:
df_schedule_sql = df_params.rename(
    columns={
        "index": "id_schedule",
        "oktmo": "oktmo_p",
        "oid": "oid_mo_oms",
        "clinic": "oid_mo_frmo",
        "terms": "id_terms",
        "depart": "oid_division",
        "branch": "oid_office",
        "doctor_id": "id_doctor",
        "doctor_specialty": "id_doctor_specialty",
        "doctor_profile": "doctor_profile",
    }
)

In [443]:
# это нужно делать для всех файлов!!!
# df_data_tosql = df_data_tosql.replace("nan", np.NaN)

In [444]:
df_schedule_sql

,id_schedule,oktmo_p,oid_mo_oms,oid_mo_frmo,id_terms,oid_division,oid_office,id_doctor,id_doctor_specialty,doctor_profile
0,1,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35,158
1,2,61000000000,1.2.643.5.1.13.13.12.2.62.6363,620009,3,023_2,8.0,078-226-204 67,87,158
2,3,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,68,86
3,4,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,044-570-622 48,71,89
4,5,61000000000,1.2.643.5.1.13.13.12.2.62.6403,620053,3,106_4,10.0,068-756-357 19,71,89
...,...,...,...,...,...,...,...,...,...,...
616,617,61000000000,1.2.643.5.1.13.13.12.2.62.6366,620062,3,117_2,9.0,044-160-518 20,93,123
617,618,61000000000,1.2.643.5.1.13.13.12.2.62.6409,620067,3,124_2,14.0,136-779-061 00,81,106
618,619,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,10.0,063-362-688 66,81,106
619,620,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,12.0,118-512-198 44,79,158
620,621,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,132-580-412 32,48,15

### Заливаем данные в базу

In [445]:
df_schedule_sql.to_sql("schedule", conn, if_exists="replace", index=False)

In [446]:
# максимальное значение индекса в столбце id_schedule
n = cur.execute("select max(s.id_schedule) from schedule s;").fetchall()[0][0]
n

621

### Работаем дальше
Формирование таблицы appointment

In [456]:
df_data_long.columns

Index(['year', 'month', 'region', 'oktmo', 'clinic', 'oid', 'depart', 'branch',
       'doctor_specialty', 'doctor_profile', 'terms', 'doctor_id', 'diagnosis',
       'purpose', 'service_id', 'usl_service_id', 'usl_doctor_specialty',
       'usl_clinic', 'usl_depart', 'sl_id', 'code_usl', 'kol_usl', 'yet_sum',
       'size', 'visit_count', 'id_schedule', 'oktmo_p', 'oid_mo_oms',
       'oid_mo_frmo', 'id_terms', 'oid_division', 'oid_office', 'id_doctor',
       'id_doctor_specialty'],
      dtype='object')

In [453]:
df_schedule_sql.columns

Index(['id_schedule', 'oktmo_p', 'oid_mo_oms', 'oid_mo_frmo', 'id_terms',
       'oid_division', 'oid_office', 'id_doctor', 'id_doctor_specialty',
       'doctor_profile'],
      dtype='object')

In [454]:
df_data_long = df_data_long.merge(
    df_schedule_sql,
    left_on=[
        "oktmo",
        "oid",
        "clinic",
        "terms",
        "depart",
        "branch",
        "doctor_id",
        "doctor_specialty",
        "doctor_profile",
    ],
    right_on=[
        "oktmo_p",
        "oid_mo_oms",
        "oid_mo_frmo",
        "id_terms",
        "oid_division",
        "oid_office",
        "id_doctor",
        "id_doctor_specialty",
        "doctor_profile",
    ],
    how="left",
)

In [455]:
df_data_long

,year,month,region,oktmo,clinic,oid,depart,branch,doctor_specialty,doctor_profile,...,visit_count,id_schedule,oktmo_p,oid_mo_oms,oid_mo_frmo,id_terms,oid_division,oid_office,id_doctor,id_doctor_specialty
0,2022,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,1,1,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35
1,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,1,1,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35
2,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,1,1,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35
3,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,1,1,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35
4,2022,10,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,1,1,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340441,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,11,557,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,068-363-489 00,93
340442,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,11,557,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,068-363-489 00,93
340443,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,11,557,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,068-363-489 00,93
340444,2023,2,61000,61000000000,620105,1.2.643.5.1.13.13.12.2.62.6379,291_2,10.0,93,123,...,1,557,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,3,291_2,10.0,068-363-489 00,93
340445,2023,9,61000,61000000000,620077,1.2.643.5.1.13.13.12.2.62.6355,073_2,6.0,35,158,...,1,1,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,3,073_2,6.0,030-646-635 32,35

In [460]:
df_data_long = df_data_long[
    [
        "id_schedule",
        "year",
        "month",
        "oktmo_p",
        "oid_mo_oms",
        "oid_mo_frmo",
        "oid_division",
        "oid_office",
        "id_doctor_specialty",
        "doctor_profile",
        "id_terms",
        "id_doctor",
        "diagnosis",
        "purpose",
        "service_id",
        "usl_service_id",
        "usl_doctor_specialty",
        "usl_clinic",
        "usl_depart",
        "sl_id",
        "code_usl",
        "kol_usl",
        "yet_sum",
        "size",
        "visit_count",
    ]
]

In [461]:
df_data_long.columns

Index(['id_schedule', 'year', 'month', 'oktmo_p', 'oid_mo_oms', 'oid_mo_frmo',
       'oid_division', 'oid_office', 'id_doctor_specialty', 'doctor_profile',
       'id_terms', 'id_doctor', 'diagnosis', 'purpose', 'service_id',
       'usl_service_id', 'usl_doctor_specialty', 'usl_clinic', 'usl_depart',
       'sl_id', 'code_usl', 'kol_usl', 'yet_sum', 'size', 'visit_count'],
      dtype='object')

In [447]:
# df_data_long_last = df_data_long.rename(
#     columns={
#         "index": "id_schedule",
#         "oktmo": "oktmo_p",
#         "oid": "oid_mo_oms",
#         "clinic": "oid_mo_frmo",
#         "terms": "id_terms",
#         "depart": "oid_division",
#         "branch": "oid_office",
#         "doctor_id": "id_doctor",
#     }
# )

In [462]:
df_data_long

,id_schedule,year,month,oktmo_p,oid_mo_oms,oid_mo_frmo,oid_division,oid_office,id_doctor_specialty,doctor_profile,...,usl_service_id,usl_doctor_specialty,usl_clinic,usl_depart,sl_id,code_usl,kol_usl,yet_sum,size,visit_count
0,1,2022,9,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
1,1,2022,10,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
2,1,2022,10,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
3,1,2022,10,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
4,1,2022,10,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340441,557,2023,2,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340442,557,2023,2,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340443,557,2023,2,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,11,11,1,0.0,1,11
340444,557,2023,2,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,291_2,10.0,93,123,...,068-363-489 00,93,620105,291_2,1,1,1,0.0,1,1
340445,1,2023,9,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,030-646-635 32,35,620077,073_2,1,1,1,0.0,1,1

In [463]:
df_data_long.columns

Index(['id_schedule', 'year', 'month', 'oktmo_p', 'oid_mo_oms', 'oid_mo_frmo',
       'oid_division', 'oid_office', 'id_doctor_specialty', 'doctor_profile',
       'id_terms', 'id_doctor', 'diagnosis', 'purpose', 'service_id',
       'usl_service_id', 'usl_doctor_specialty', 'usl_clinic', 'usl_depart',
       'sl_id', 'code_usl', 'kol_usl', 'yet_sum', 'size', 'visit_count'],
      dtype='object')

In [465]:
df_appointment = df_data_long[
    ["id_schedule", "year", "month", "purpose", "diagnosis"]
].reset_index(drop=True)

In [466]:
df_appointment

        id_schedule  year  month  purpose diagnosis
0                 1  2022      9      3.0     G24.1
1                 1  2022     10      3.0     G24.1
2                 1  2022     10      3.0     G24.1
3                 1  2022     10      3.0     G24.1
4                 1  2022     10      3.0     G24.1
...             ...   ...    ...      ...       ...
340441          557  2023      2      2.6     K52.9
340442          557  2023      2      2.6     K52.9
340443          557  2023      2      2.6     K52.9
340444          557  2023      2      2.6     T18.9
340445            1  2023      9      3.0     G24.1

[340446 rows x 5 columns]

In [467]:
df_appointment_index = (
    df_appointment[["year", "month", "purpose", "diagnosis"]]
    .drop_duplicates()
    .reset_index(drop=True)
).reset_index()

In [468]:
df_appointment_index = df_appointment_index.rename(
    columns={
        "index": "id_appointment",
        "purpose": "id_purpose",
        "diagnosis": "id_diagnosis",
    }
)

In [469]:
df_appointment_index

      id_appointment  year  month  id_purpose id_diagnosis
0                  0  2022      9         3.0        G24.1
1                  1  2022     10         3.0        G24.1
2                  2  2022     11         3.0        G24.1
3                  3  2022     12         3.0        G51.0
4                  4  2022     12         3.0        I63.5
...              ...   ...    ...         ...          ...
1771            1771  2023      2         2.6        T92.8
1772            1772  2023      2         2.6        I20.9
1773            1773  2023      2         2.6        I80.3
1774            1774  2023      2         2.6        T18.9
1775            1775  2023      9         3.0        G24.1

[1776 rows x 5 columns]

In [470]:
df_appointment = df_appointment.merge(
    df_appointment_index,
    left_on=["year", "month", "purpose", "diagnosis"],
    right_on=["year", "month", "id_purpose", "id_diagnosis"],
    how="left",
)

In [471]:
df_appointment_sql = (
    df_appointment[
        ["id_schedule", "id_appointment", "year", "month", "id_purpose", "id_diagnosis"]
    ]
    .drop_duplicates()
    .reset_index(drop=True)
)

In [472]:
df_appointment_sql

      id_schedule  id_appointment  year  month  id_purpose id_diagnosis
0               1               0  2022      9         3.0        G24.1
1               1               1  2022     10         3.0        G24.1
2               1               2  2022     11         3.0        G24.1
3               2               3  2022     12         3.0        G51.0
4               2               4  2022     12         3.0        I63.5
...           ...             ...   ...    ...         ...          ...
7594          556            1773  2023      2         2.6        I80.3
7595          557            1719  2023      2         2.6        K29.7
7596          557            1731  2023      2         2.6        K52.9
7597          557            1774  2023      2         2.6        T18.9
7598            1            1775  2023      9         3.0        G24.1

[7599 rows x 6 columns]

In [474]:
df_appointment_sql.to_sql("appointment", conn, if_exists="append", index=False)

### Снова соединяем полученную таблицу с самой исходной

In [475]:
df_data_long.columns

Index(['id_schedule', 'year', 'month', 'oktmo_p', 'oid_mo_oms', 'oid_mo_frmo',
       'oid_division', 'oid_office', 'id_doctor_specialty', 'doctor_profile',
       'id_terms', 'id_doctor', 'diagnosis', 'purpose', 'service_id',
       'usl_service_id', 'usl_doctor_specialty', 'usl_clinic', 'usl_depart',
       'sl_id', 'code_usl', 'kol_usl', 'yet_sum', 'size', 'visit_count'],
      dtype='object')

In [476]:
df_appointment_sql.columns

Index(['id_schedule', 'id_appointment', 'year', 'month', 'id_purpose',
       'id_diagnosis'],
      dtype='object')

In [478]:
df_data_long_next = df_data_long.merge(
    df_appointment_sql,
    left_on=["year", "month", "purpose", "diagnosis", "id_schedule"],
    right_on=["year", "month", "id_purpose", "id_diagnosis", "id_schedule"],
    how="left",
)

In [481]:
df_data_long_next.columns

Index(['id_schedule', 'year', 'month', 'oktmo_p', 'oid_mo_oms', 'oid_mo_frmo',
       'oid_division', 'oid_office', 'id_doctor_specialty', 'doctor_profile',
       'id_terms', 'id_doctor', 'diagnosis', 'purpose', 'service_id',
       'usl_service_id', 'usl_doctor_specialty', 'usl_clinic', 'usl_depart',
       'sl_id', 'code_usl', 'kol_usl', 'yet_sum', 'size', 'visit_count',
       'id_appointment', 'id_purpose', 'id_diagnosis'],
      dtype='object')

In [482]:
df_data_long_next = df_data_long_next.drop(columns=["diagnosis", "purpose"])

In [483]:
df_data_long_next

,id_schedule,year,month,oktmo_p,oid_mo_oms,oid_mo_frmo,oid_division,oid_office,id_doctor_specialty,doctor_profile,...,usl_depart,sl_id,code_usl,kol_usl,yet_sum,size,visit_count,id_appointment,id_purpose,id_diagnosis
0,1,2022,9,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,073_2,1,1,1,0.0,1,1,0,3.0,G24.1
1,1,2022,10,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,073_2,1,1,1,0.0,1,1,1,3.0,G24.1
2,1,2022,10,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,073_2,1,1,1,0.0,1,1,1,3.0,G24.1
3,1,2022,10,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,073_2,1,1,1,0.0,1,1,1,3.0,G24.1
4,1,2022,10,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,073_2,1,1,1,0.0,1,1,1,3.0,G24.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340441,557,2023,2,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,291_2,10.0,93,123,...,291_2,11,11,1,0.0,1,11,1731,2.6,K52.9
340442,557,2023,2,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,291_2,10.0,93,123,...,291_2,11,11,1,0.0,1,11,1731,2.6,K52.9
340443,557,2023,2,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,291_2,10.0,93,123,...,291_2,11,11,1,0.0,1,11,1731,2.6,K52.9
340444,557,2023,2,61000000000,1.2.643.5.1.13.13.12.2.62.6379,620105,291_2,10.0,93,123,...,291_2,1,1,1,0.0,1,1,1774,2.6,T18.9
340445,1,2023,9,61000000000,1.2.643.5.1.13.13.12.2.62.6355,620077,073_2,6.0,35,158,...,073_2,1,1,1,0.0,1,1,1775,3.0,G24.1

### Формирование таблицы servises

In [484]:
df_data_long_next.columns

Index(['id_schedule', 'year', 'month', 'oktmo_p', 'oid_mo_oms', 'oid_mo_frmo',
       'oid_division', 'oid_office', 'id_doctor_specialty', 'doctor_profile',
       'id_terms', 'id_doctor', 'service_id', 'usl_service_id',
       'usl_doctor_specialty', 'usl_clinic', 'usl_depart', 'sl_id', 'code_usl',
       'kol_usl', 'yet_sum', 'size', 'visit_count', 'id_appointment',
       'id_purpose', 'id_diagnosis'],
      dtype='object')

In [486]:
df_servises = df_data_long_next[
    [
        "id_schedule",
        "id_appointment",
        "service_id",
        "usl_service_id",
        "id_doctor",
        "usl_doctor_specialty",
        "oid_mo_oms",
        "usl_depart",
    ]
]

In [487]:
df_servises = df_servises.drop_duplicates().reset_index(drop=True)

In [488]:
df_servises

,id_schedule,id_appointment,service_id,usl_service_id,id_doctor,usl_doctor_specialty,oid_mo_oms,usl_depart
0,1,0,B01.023.001,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
1,1,1,B01.010.001,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
2,1,1,B01.020.005,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
3,1,1,B01.023.002,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
4,1,1,B01.031.001,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
...,...,...,...,...,...,...,...,...
36485,556,1773,A04.12.006.002,031-663-288 38,031-663-288 38,81,1.2.643.5.1.13.13.12.2.62.6379,291_2
36486,557,1719,A03.16.001,068-363-489 00,068-363-489 00,93,1.2.643.5.1.13.13.12.2.62.6379,291_2
36487,557,1731,A03.18.001.001,068-363-489 00,068-363-489 00,93,1.2.643.5.1.13.13.12.2.62.6379,291_2
36488,557,1774,A03.16.001,068-363-489 00,068-363-489 00,93,1.2.643.5.1.13.13.12.2.62.6379,291_2
36489,1,1775,B01.020.001,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2

In [489]:
df_services_sql = df_servises.rename(
    columns={
        "service_id": "id_service",
        "usl_service_id": "id_service_local",
        "doctor_id": "id_service_provider",
        "usl_doctor_specialty": "id_doctor_specialty_service",
        "oid": "id_mo_oms_service",
        "usl_depart": "oid_division_service",
    }
)

In [490]:
df_services_sql

,id_schedule,id_appointment,id_service,id_service_local,id_doctor,id_doctor_specialty_service,oid_mo_oms,oid_division_service
0,1,0,B01.023.001,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
1,1,1,B01.010.001,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
2,1,1,B01.020.005,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
3,1,1,B01.023.002,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
4,1,1,B01.031.001,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2
...,...,...,...,...,...,...,...,...
36485,556,1773,A04.12.006.002,031-663-288 38,031-663-288 38,81,1.2.643.5.1.13.13.12.2.62.6379,291_2
36486,557,1719,A03.16.001,068-363-489 00,068-363-489 00,93,1.2.643.5.1.13.13.12.2.62.6379,291_2
36487,557,1731,A03.18.001.001,068-363-489 00,068-363-489 00,93,1.2.643.5.1.13.13.12.2.62.6379,291_2
36488,557,1774,A03.16.001,068-363-489 00,068-363-489 00,93,1.2.643.5.1.13.13.12.2.62.6379,291_2
36489,1,1775,B01.020.001,030-646-635 32,030-646-635 32,35,1.2.643.5.1.13.13.12.2.62.6355,073_2

In [492]:
df_services_sql.to_sql("services", conn, if_exists="append", index=False)

### Справочник врачей

In [80]:
df_data.columns

Index(['year', 'month', 'region', 'oktmo', 'clinic', 'oid', 'depart', 'branch',
       'doctor_specialty', 'doctor_profile', 'terms', 'doctor_id', 'diagnosis',
       'purpose', 'service_id', 'usl_service_id', 'usl_doctor_specialty',
       'usl_clinic', 'usl_depart', 'sl_id', 'code_usl', 'kol_usl', 'yet_sum',
       'size', 'visit_count'],
      dtype='object')

In [81]:
df_doctors = df_data[["doctor_id", "doctor_specialty", "doctor_profile"]]

In [82]:
df_doctors.insert(1, "name", np.nan)

In [83]:
df_doctors = df_doctors.drop_duplicates().reset_index(drop=True)

In [84]:
df_doctors.rename(
    columns={
        "doctor_id": "id_doctor",
        "doctor_specialty": "id_doctor_specialty",
        "doctor_profile": "id_doctor_profile",
    },
    inplace=True,
)

In [85]:
df_doctors = df_doctors.reset_index()

df_doctors = df_doctors.rename(columns={"index": "index_doctor"})

In [86]:
df_doctors

,index_doctor,id_doctor,name,id_doctor_specialty,id_doctor_profile
0,0,033-515-408 19,NaN,26,34
1,1,032-317-053 01,NaN,68,86
2,2,032-344-868 35,NaN,68,86
3,3,033-216-688 27,NaN,68,86
4,4,033-216-705 11,NaN,68,86
...,...,...,...,...,...
770,770,058-272-704 75,NaN,49,68
771,771,130-926-576 55,NaN,81,106
772,772,063-362-688 66,NaN,81,106
773,773,118-512-198 44,NaN,79,158
774,774,132-580-412 32,NaN,48,15

In [87]:
df_doctors.to_sql("doctors", conn, if_exists="append", index=False)

## Справочник услуг

https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.99.2.785/version/1.4

In [88]:
df_services = pd.read_excel("/home/sk27/work/med/data/services.xlsx")

In [90]:
df_services = df_services[["S_CODE", "NAME"]]

In [ ]:
df_services_sql = df_services.rename(
    columns={"S_CODE": "id_service", "NAME": "service"}
)
df_services_sql

In [122]:
import mitosheet

mitosheet.sheet(df_services_sql, analysis_to_replay="id-hcbuuxgftf")

MitoWidget(analysis_data_json='{"analysisName": "id-hcbuuxgftf", "analysisToReplay": null, "code": [], "stepSu…

In [ ]:
from mitosheet import *; register_analysis("id-hcbuuxgftf");
    
# Filtered id_service
df_services_sql = df_services_sql[df_services_sql['id_service'].str.startswith('A16', na=False)]

In [121]:
df_services_sql.to_sql("reestr_services", conn, if_exists="append", index=False)

In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /home/sk27/.config/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /home/sk27/.config/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from pyspark) (0.10.9.5)

In [2]:
! pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-11.0.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (35.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.0/35.0 MB 5.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.6 in /home/sk27/.config/jupyterlab-desktop/jlab_server/lib/python3.8/site-packages (from pyarrow) (1.23.2)
Installing collected packages: pyarrow
Successfully installed pyarrow-11.0.0

In [3]:
from pyspark.sql import SparkSession
import os
os.environ["PYARROW_IGNORE_TIMEZONE"] = "1" # без этой строчки у нас будет возникать постоянное предупреждение с просьбой установить эту переменную в значение 1, что мы заранее и делаем


spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")
spark

23/04/07 09:25:13 WARN Utils: Your hostname, sk27-HN-WX9X resolves to a loopback address: 127.0.1.1; using 192.168.43.50 instead (on interface wlp1s0)
23/04/07 09:25:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/04/07 09:25:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
df = spark.read.csv(
    "/home/sk27/work/med/data/source.csv", sep=";", header=True, inferSchema=True
)

df.printSchema()

# reestr_do = pd.read_excel("/home/sk27/work/med/data/reestr_do.xlsx")

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- region: string (nullable = true)
 |-- clinic: string (nullable = true)
 |-- oid: string (nullable = true)
 |-- depart: string (nullable = true)
 |-- branch: string (nullable = true)
 |-- doctor_specialty: integer (nullable = true)
 |-- doctor_profile: integer (nullable = true)
 |-- terms: integer (nullable = true)
 |-- doctor_id: string (nullable = true)
 |-- diagnosis: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- service_id: string (nullable = true)
 |-- usl_service_id: string (nullable = true)
 |-- usl_doctor_specialty: integer (nullable = true)
 |-- usl_clinic: string (nullable = true)
 |-- usl_depart: string (nullable = true)
 |-- sl_id: integer (nullable = true)
 |-- code_usl: integer (nullable = true)
 |-- kol_usl: integer (nullable = true)
 |-- yet_sum: double (nullable = true)

In [10]:
df.show()

+----+-----+-----------+------------+--------------------+-----------+------+----------------+--------------+-----+--------------------+-----------+---------+--------------------+--------------------+--------------------+------------+-----------+-----+--------+-------+-------+
|year|month|     region|      clinic|                 oid|     depart|branch|doctor_specialty|doctor_profile|terms|           doctor_id|  diagnosis|  purpose|          service_id|      usl_service_id|usl_doctor_specialty|  usl_clinic| usl_depart|sl_id|code_usl|kol_usl|yet_sum|
+----+-----+-----------+------------+--------------------+-----------+------+----------------+--------------+-----+--------------------+-----------+---------+--------------------+--------------------+--------------------+------------+-----------+-----+--------+-------+-------+
|2022|    9|"""61000"""|"""620077"""|"""1.2.643.5.1.13...|"""073_2"""|     6|              35|           158|    3|"""030-646-635 32"""|"""G24.1"""|"""3.0"""|   """B01.020.001"""|"""030-646-635 32"""|                  35|"""620077"""|"""073_2"""|    1|       1|      1|    0.0|
|2022|    9|"""61000"""|"""620077"""|"""1.2.643.5.1.13...|"""073_2"""|     6|              35|           158|    3|"""030-646-635 32"""|"""G24.1"""|"""3.0"""|   """B01.023.001"""|"""030-646-635 32"""|                  35|"""620077"""|"""073_2"""|    1|       1|      1|    0.0|
|2022|   10|"""61000"""|"""620077"""|"""1.2.643.5.1.13...|"""073_2"""|     6|              35|           158|    3|"""030-646-635 32"""|"""G24.1"""|"""3.0"""|   """B01.010.001"""|"""030-646-635 32"""|                  35|"""620077"""|"""073_2"""|    1|       1|      1|    0.0|
|2022|   10|"""61000"""|"""620077"""|"""1.2.643.5.1.13...|"""073_2"""|     6|              35|           158|    3|"""030-646-635 32"""|"""G24.1"""|"""3.0"""|   """B01.020.005"""|"""030-646-635 32"""|                  35|"""620077"""|"""073_2"""|    1|       1|      1|    0.0|
|2022|   10|"""61000"""|"""620077"""|"""1.2.643.5.1.13...|"""073_2"""|     6|              35|           158|    3|"""030-646-635 32"""|"""G24.1"""|"""3.0"""|   """B01.023.002"""|"""030-646-635 32"""|                  35|"""620077"""|"""073_2"""|    1|       1|      1|    0.0|
|2022|   10|"""61000"""|"""620077"""|"""1.2.643.5.1.13...|"""073_2"""|     6|              35|           158|    3|"""030-646-635 32"""|"""G24.1"""|"""3.0"""|   """B01.031.001"""|"""030-646-635 32"""|                  35|"""620077"""|"""073_2"""|    1|       1|      1|    0.0|
|2022|   11|"""61000"""|"""620077"""|"""1.2.643.5.1.13...|"""073_2"""|     6|              35|           158|    3|"""030-646-635 32"""|"""G24.1"""|"""3.0"""|   """B01.054.001"""|"""030-646-635 32"""|                  35|"""620077"""|"""073_2"""|    1|       1|      1|    0.0|
|2022|   12|"""61000"""|"""620009"""|"""1.2.643.5.1.13...|"""023_2"""|     8|              87|           158|    3|"""078-226-204 67"""|"""G51.0"""|"""3.0"""|   """B01.020.001"""|"""078-226-204 67"""|                  87|"""620009"""|"""023_2"""|    2|       2|      1|    0.0|
|2022|   12|"""61000"""|"""620009"""|"""1.2.643.5.1.13...|"""023_2"""|     8|              87|           158|    3|"""078-226-204 67"""|"""G51.0"""|"""3.0"""|   """B01.054.001"""|"""078-226-204 67"""|                  87|"""620009"""|"""023_2"""|    2|       2|      1|    0.0|
|2022|   12|"""61000"""|"""620009"""|"""1.2.643.5.1.13...|"""023_2"""|     8|              87|           158|    3|"""078-226-204 67"""|"""I63.5"""|"""3.0"""|   """B01.020.001"""|"""078-226-204 67"""|                  87|"""620009"""|"""023_2"""|    2|       2|      1|    0.0|
|2022|   12|"""61000"""|"""620009"""|"""1.2.643.5.1.13...|"""023_2"""|     8|              87|           158|    3|"""078-226-204 67"""|"""I63.5"""|"""3.0"""|   """B01.054.001"""|"""078-226-204 67"""|                  87|"""620009"""|"""023_2"""|    2|       2|      1|    0.0|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.0"""|"""3.0"""|    """A11.07.027"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    2|       2|      1|   0.06|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.0"""|"""3.0"""|"""A16.07.002.009"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    3|       3|      1|   3.75|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.0"""|"""3.0"""|    """A16.07.009"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    1|       1|      1|   0.21|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.0"""|"""3.0"""|    """A16.07.091"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    1|       1|      1|   0.25|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.0"""|"""3.0"""|   """B01.064.004"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    3|       3|      1|   4.11|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.5"""|"""3.0"""|    """A06.07.003"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    1|       1|      1|   0.75|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.5"""|"""3.0"""|"""A16.07.002.009"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    2|       2|      1|    2.5|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.5"""|"""3.0"""|"""A16.07.030.001"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    8|       8|      1|   7.36|
|2022|   12|"""61000"""|"""620053"""|"""1.2.643.5.1.13...|"""106_4"""|    10|              68|            86|    3|"""044-570-622 48"""|"""K04.5"""|"""3.0"""|    """A25.07.001"""|"""044-570-622 48"""|                  68|"""620053"""|"""106_4"""|    1|       1|      1|   0.25|
+----+-----+-----------+------------+--------------------+-----------+------+----------------+--------------+-----+--------------------+-----------+---------+--------------------+--------------------+--------------------+------------+-----------+-----+--------+-------+-------+
only showing top 20 rows